version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "9000:9000"
    networks:
      - landingpage_unnet

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - landingpage_unnet

networks:
  landingpage_unnet:
    driver: bridge
